
*, ::after, ::before {
    box-sizing:border-box;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#skip a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip a:focus {
    position: static;
    width: auto;
    height: auto;
}

.hidden {
    display: none;
    opacity:0;
}

.braille-input {
    font-size: 200%;
    border: none;
    resize: none;
    padding: 5px;
    /* pointer-events: none; */
}

/* Menu stuff */
.modal {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1072;
    overflow-x: hidden;
    overflow-y:auto;

    opacity:1;
    transition: opacity .15s linear;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
}
@media (min-width: 900px) {
    .modal-dialog {
        max-width:800px;
        margin: 1.75rem auto;
    }
}
@media (min-width: 576px)
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    font-size: 2rem;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
button, select {
    text-transform: none;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}
h5.modal-title {
    font-size: 1.25rem;
    border-bottom: 1px solid #dee2e6;
}
h4.modal-title {
    font-size: 1.5rem;
}
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
/* custom modal stuff */
.modal button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5;
    padding: .375rem .75rem;
    margin: .125rem;
    font-weight: bold;
}
.modal-backdrop {
    z-index: 1071;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
}

/* table stuff */
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}
table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
table td, table th {
    padding: 0.75rem;
    vertical-align: top;
}

/* form fields */
label {
    margin: 0 1.5rem;
    vertical-align: middle;
}

