.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#skip a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip a:focus {
    position: static;
    width: auto;
    height: auto;
}

.hidden {
    display: none;
    opacity:0;
}

.braille-input {
    font-size: 200%;
    border: none;
    resize: none;
    padding: 5px;
    /* pointer-events: none; */
}

.modal {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1000;

    opacity:0;
    transition: opacity .15s linear;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
}
@media (min-width: 900px) {
    .modal-dialog {
        max-width:800px
        margin: 1.75rem auto;
    }
}
