name: Lint Commit Messages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  commitlint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Ensures commit history is pulled

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm install @commitlint/config-conventional @commitlint/cli

      - name: Run Commitlint
        run: npm run commitlint --verbose
