name: Publish Quarto docs

on:
  workflow_dispatch:

  push:
    branches:
      - docs/jsdoc #TODO: change to main, later

permissions:
  contents: write
  pages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Run quartodoc
        env:
          PYTHONPATH: ${{ github.workspace }}
        run: |
          cd docs
          uv run quartodoc build --verbose
          uv run quartodoc interlinks

      - name: Publish to GitHub Pages
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
          path: docs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          QUARTO_PYTHON: .venv/bin/python
